.carousel-container {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    overflow: hidden;
  }

  
  .carousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item {
    position: absolute;
    width: 400px;
    height: 400px;
    background: #4a4a4a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 72px;
    transform-origin: center center;
    will-change: transform, opacity;
    cursor: pointer;
  }
  
  @media (max-width: 768px){
    .item{
      width: 240px;
      height: 240px;
      font-size: 1rem;
    }
  }
  @media (min-width: 768px){
    .item{
      width: 480px;
      height: 360px;
      font-size: 1.5rem;
    }
  }
  @media (min-width: 1024px){
    .item{
      width: 560px;
      height: 400px;
      font-size: 2rem;
    }
  }
  

  .dot-0 {
    background-image: url('/images/Aviation.jpeg');
  }
  .dot-1 {
    background-image: url('/images/Aviation2.jpeg');
  }
  .dot-2 {
    background-image: url('/images/Aviation3.jpeg');
  }
  
  .dot-0,
.dot-1,
.dot-2 {
  background-size: cover;
  background-position: center;
}
